h1 {
  padding: 0;
  margin: 10px 0;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}


.list-group-item-home {
  padding: 20px; 
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.text-primary {
    color: green!important;
}
/* - ESTILOS EM TESTE -*/

.app {/*classe do proj original editada*/
	background-color:#fff;	
}

.content
{
	padding: 5px 5px;
}
.bar-secao{	
    padding:0px;
	display:inline-table;
	width:100%;
	background:#efefef;
}
.title-secao{	
	padding: 0;
    margin-left: 10px;
	width:auto;
	float:left;
	line-height:normal;
	font-size: 0.8em

}
.day{	
    float:right;
	margin-right: 10px;
	padding: 0;
	line-height:normal;
	font-size:0.8em;
}

.box1{	
    border-top: 1px solid #ccc;
    padding: 5px 5px;	
	display:table;
	position:relative;
	width:100%;  
}
.box-local {
	padding: 10px 0;
	display:inline-table;
	width:100%;
}
.ico-geomarcador {
	float:left;
	width: 16px;
	height:16px;
	margin:0 5px;
	background-image:url("../img/geomarcador.png");
}
.ico-iniciado {
	float:left;
	width: 16px;
	height:16px;
	margin:0 5px;
	background-image:url("../img/iniciado.png");
}
.ico-completo {
	float:left;
	width: 16px;
	height:16px;
	margin:0 5px;
	background-image:url("../img/completo.png");
}
.instituicao {
	float:left;	
}
.box-checkin {
	background: #00b200;
    border-radius: 11px;
    float: right;
    font-size: 0.8em;    
    text-align: center;
    width: 60px;
    margin: 0 5px;
	color:#fff;
}
.avatar {	
    border-radius: 26px;
    float: left;  
	width:52px; 
	height:52px; 
	margin: 0 5px;  
	overflow: hidden;   
}
.card-profile {    
	display:table-cell;
    vertical-align: top;
	position:relative;
	width:100%; 
}
.line-profile {	
    float: left; 
	width:100%; 	
}
.name-profile {	
    float: left; 
	width:200px; 
	font-size:1em; 
}
.timepost {
    float: right; 
	text-align:right;
	width:50px;  
	font-size:0.7em; 
	padding-right:5px;     
}
.form-tipo-azul {
	float:left;
	width: 24px;
	height:24px;
	margin-right:5px;
	background-image:url("../img/prancheta-azul.png");
}
.form-tipo-vermelho {
	float:left;
	width: 24px;
	height:24px;
	margin-right:5px;
	background-image:url("../img/prancheta-vermelha.png");
}
.form-num {
    float: left; 
	width:150px; 
	font-size:1em; 
	line-height:normal;
}
.form-status {
    float: right; 
	width:86px; 
	font-size:1em; 
	line-height:normal;
}
.form-legend-status {
    float: right; 
	width:100px; 
}

.accountResearchHead
{	
	display:table-cell;
	position:relative;
	width:100%; 
}

.id-accountResearchHead
{	
	display:table-cell;
	position:relative;
	width:10%; 
}

.name-accountResearchHead
{	
	display:table-cell;
	position:relative;
	width:80%; 
}

.paciente {	
	display:table-cell;
	position:relative;
	width:100%; 
}
.name-paciente {	
    float: left; 
	font-size:1em; 
	margin:0 10px;
}
.idade-paciente {
    float: left; 
	text-align:right;
	font-size:0.7em;    
}
.prontuario {	
    float: left; 
	font-size:1em; 
	margin-left:10px;
}
.qtd-fichas {
    float: right; 
	font-size:1em;
	margin-right:10px;	 
}
.num-prontuario{	
    float: left; 
	font-size:1em; 
	margin:0 10px;
	width:20px;
}
.data-prontuario {
    float: right; 
	font-size:1em;	
	margin-right:10px; 
}

.box-paciente{    	
	display:table;
	position:relative;
	width:100%; 
}

.pesquisa-inicial {	
    float: left; 
	font-size:0.8em; 
	margin:0 10px;
}
.nome-pesquisa {
    float: left; 
	text-align:right;
	font-size:1em;    
}
.qtd-pesquisa {
    float: right; 
	font-size:1em;	
	margin-right:10px; 
}
.margin-prontuario{
    margin-left:50px; 
}
.tipo-prontuario {
    float: right; 
	font-size:1em;	 
	text-align:center;
	width:70px;
	margin-right:10px;
}
	.completo {    
		background-color:#00d936;	
	}
	.iniciado {    
		background-color:yellow;	
	}
.dados-paciente {	
    float: left; 
	font-size:1em; 
	margin:0 10px;
	width:90px;	
}
.box-indique {	
    float: left; 
	width:100%; 
	background-color:#ccc;
}
.txt-indique {	
    float: left; 
	padding: 10px;
	width:100%; 	
}
.bt-enquete {	
    float: left; 
	margin:10px;
	width:90px;	
	text-align: center;
    width: 40px;
	color:white;
}
	.sim {    
		background-color:green;	
	}
	.nao {    
		background-color:red;	
	}
.txt-disabled {    
	color:#ccc!important;	
}
.add { 
	background-color: rgb(36, 168, 255);
    border-radius: 16px;
    color: white;
    font-size: 1.5em;
    height: 32px;
    line-height: 1.5em;
    text-align: center;
    width: 32px;
	float:right;
	cursor:pointer;
	margin:10px;
}
.wrap-arrow{
	top:0;
	float:none;
	position:absolute;
	background:yellow;
}
/* cor do icone menu*/
.navbar-app .btn, .navbar-app .btn-navbar {
    color:#135987!important;  
}
/* cor do icone menu*/
.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color: #135987!important;
}
/* cor texto cabecalho*/
.navbar-app {
    color: #135987!important;
}
/* cor fundo cabecalho*/
.navbar-app {
    background: #24A8FF;
}
/* altura do cabecalho sidebar*/
.app-name, .sidebar-header {    
    line-height: 50px!important;
}

.sidebar-left {
	background-image:url("../img/back-menuhu.png")!important;
    background-repeat:no-repeat;  
    background-color:rgb(36, 168, 255);
}


/*ENQUADRAMENTO DAS BOLOTAS*/

    .wrap-balls {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

.area-forms {
	width: auto;
	margin:0 10px;
	display:block;
}

/*SOBRESCRITO - BORDA DOS FORMS*/
.form-control {
    border: 1px solid #3395ff!important;
}
    
/*SOBRESCRITO - ESTILIZACAO DAS BOLOTAS MAIORES*/
.nav-tabs {
    border:none!important;    
    margin: 10px 0 10px 0;
}    
/* tab bolinha */
.nav-tabs > li {
    border: none;
    border-radius: 0;
    padding:0!important;
    height:40px;
    width:40px;
    border-radius:20px;
    margin:0 5px 0 5px;           
}
.nav-tabs > li {
    border: none!important;
    border-radius:0;
    padding:0!important;
    height:40px;
    width:40px;
    border-radius:20px;
    line-height: 2!important;
    background:#ccc;  
    color:#A6ABB4;  
}
.nav-tabs > li.active {
    border: none!important;
    border-radius:0;
    padding:0!important;
    height:40px;
    width:40px;
    border-radius:20px;
    background:#3395FF; 
    color:#fff;   
}
.nav-tabs > li.active:hover {
	background:#007aff;
	color:#fff; 
}

.nav-tabs > li > a:hover {
	background:#ccc;  
	color:#777; 
}



.nav > li {
    display: inline-block;
    position: relative;
}


.nav-tabs-dot > li {
    border: none!important;
    border-radius:0;
    padding:0!important;
    height:12px;
    width:12px;
    border-radius:6px;
    line-height: 2!important;
    background:#ccc;  
    color:#A6ABB4;  
}

.nav-tabs-dot > li.active {
    border: none!important;
    border-radius:0;
    padding:0!important;
    height:12px;
    width:12px;
    border-radius:6px;
    background:#3395FF; 
    color:#fff;   
}



.zera-padding-l {
    padding-left: 0
}

/*SOBRESCRITO - LARGURA DE BUTTONS*/
.btn-group {
    width: 100%;
}
.btn-group-2 label.btn  {
    width: 50%;
}
.btn-group-3 label.btn  {
    width: 33.3%;
}

/*SOBRESCRITO - FIELDSET*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 2.5em 1.5em 1.5em !important;
    margin: 0 3px !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;			
	display:block;
}

/*SOBRESCRITO - LEGEND*/
legend {
    font-size:16px!important;
	line-height:36px;
}

.rage-spacer {
    margin:30px 0;
}