<div class="page-header">
    <h2>Edit Templates</h2>
</div>        

<form id="mainForm" class="form-horizontal" role="form" novalidate>
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" type="text" ng-model="controller.name"  class="form-control"></textarea>
    </div>
    
    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" id="name" type="text" ng-model="controller.descr"  class="form-control"></textarea>
    </div>    
    
    <div class="form-group">
        <label for="name">Template Code</label>
        <textarea id="name" type="text" ng-model="controller.text" rows="5"  class="form-control"></textarea>
    </div>
    
    <input type="submit" value="Render" ng-click="controller.parseTemplate()" class="btn btn-primary" /> 
    
</form>    
<br/>
    
<div class="jumbotron">    
    <span ng-repeat="item in controller.template">
        
        <div ng-switch="item.component">
            
            <div ng-switch-when="input-text">                
                <hu:input-text index="{{$index}}" label="{{item.label}}" type="{{item.type}}"
                            ng-model="result[$index]" tag="{{item.tag}}" class="{{item.class}}" inputStyle="{{item.inputstyle}}">                                               
                </hu:input-text>
            </div>
            
            <div ng-switch-when="input-textarea">                
                <hu:input-textarea index="{{$index}}" label="{{item.label}}" class="{{item.class}}"
                            ng-model="result[$index]" tag="{{item.tag}}" rows="{{item.rows}}" inputStyle="{{item.inputstyle}}">                                               
                </hu:input-textarea>
            </div>       
            
            <div ng-switch-when="select-item">                
                <hu:select-item index="{{$index}}" label="{{item.label}}" class="{{item.class}}"
                            ng-model="result[$index]" tag="{{item.tag}}" options="item.options" selectStyle="{{item.selectstyle}}">                                               
                </hu:select-item>
            </div>     
            
            <div ng-switch-when="select-one-item">                
                <hu:select-one-item index="{{$index}}" label="{{item.label}}" class="{{item.class}}"
                            ng-model="result[$index]" tag="{{item.tag}}" options="item.options" selectStyle="{{item.selectstyle}}">                                               
                </hu:select-one-item>
            </div>                                           
        </div>                 
                        
    </span>  
</div> 
Result: {{result}}   

