<div ui-content-for="title">
	<span>Meus Pacientes</span>
</div>

<div class="scrollable">

	<div class="scrollable-content" ui-scroll-bottom='bottomReached()'>

		<div class="list-group" ui-t urn-off='uiSidebarLeft'>

			<a ng-repeat="item in items" class="list-group-item" href="#/fichade">
				<div class="box-paciente">
					<div class="paciente">
						<div class="line-profile">
							<span class="name-paciente">{{item.name}}</span> <span
								class="idade-paciente">{{item.age}} ano(s)</span>
						</div>
						<div class="line-profile">
							<span class="prontuario">{{item.record}}</span>
							<div class="form-status">
								<span class="qtd-fichas">0 ficha(s)</span>
							</div>
						</div>
						<!-- line-profile -->
					</div>
					<!-- paciente -->
					<div class="wrap-arrow">
						<i class="fa fa-chevron-right pull-right"></i>
					</div>
				</div>
			</a>

		</div>
        
        <button type="button" class="btn btn-primary" ng-click="service.go('/newpatient')">Novo</button>

	</div>

</div>
