<div class="page-header">
    <h2>Patients</h2>
</div>        

<!-- Patients Panel -->
        
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Alias</th>
            <th>Idade</th>
            <th>Prontuário</th>
            <th>Registros</th>                
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">                
            <td>{{$index}}</td>
            <td>{{item.alias}}</td>
            <td>{{item.birth | date:'dd/MM/yyyy'}}</td>
            <td>{{item.code}}</td>
            <td>0 Registros</td>
            
        </tr>
    </tbody>
</table>        
    
<button type="button" class="btn btn-primary" ng-click="service.go('/newpatient')">Novo</button>

